@model UserDTO
<div class="row">
    <div class="col-md-8">
        <h2 class="text-danger mb-3">Do you surely want to change the password of this User?</h2>
        <h4>Id: <b>@Model.Id</b></h4>
        <h4>Name: <b>@Model.FullName</b></h4>
        <h4>Username: <b>@Model.UserName</b></h4>
        <h4>Email: <b>@Model.Email</b></h4>
        <h4>Role: <b>@Model.Role</b></h4>
        <hr />
        <form asp-action="ChangePasswordConfirmed" method="post">
            <input type="hidden" name="id" value="@Model.Id" />
            <div class="row">
                <div class="col-md-6 mb-2">
                    <input type="password" name="password" class="form-control" placeholder="Password" />
                </div>
                <div class="col-md-6 mb-2">
                    <input type="password" name="repeatPassword" class="form-control" placeholder="Repeat Password" />
                </div>
                <div class="col-12 mb-4">
                    <button type="submit" class="btn btn-success">Save Changes</button>
                </div>
            </div>
        </form>
        <a asp-action="Index" class="btn btn-primary">Go Back</a>
    </div>
</div>