@model List<UserDTO>

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Users</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Fullname</th>
                        <th>Email</th>
                        <th>Role</th>
                        <th>Status</th>
                        <th>Settings</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (UserDTO item in Model)
                    {
                        <tr>
                            <td>@item.FullName</td>
                            <td>@item.Email</td>
                            <td>@item.Role</td>
                            @if (item.IsActive)
                            {
                                <td class="text-success">Active</td>
                            }
                            else
                            {
                                <td class="text-danger">Disabled</td>

                            }
                            <td>
                                @if (item.IsActive)
                                {
                                    <a asp-action="ChangeStatus" asp-route-id="@item.Id" class="btn btn-danger mr-1">
                                        Disable
                                    </a>
                                }
                                else
                                {
                                    <a asp-action="ChangeStatus" asp-route-id="@item.Id" class="btn btn-success mr-1">
                                        Activate
                                    </a>
                                }
                                <a asp-action="ChangeRole" asp-route-id="@item.Id" class="btn btn-success mr-1">
                                    Change Role
                                </a>
                                <a asp-action="ChangePassword" asp-route-id="@item.Id" class="btn btn-warning mr-1">
                                    Change Password
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/admin/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="~/admin/vendor/datatables/dataTables.bootstrap4.min.js"></script>
    <script src="~/admin/js/demo/datatables-demo.js"></script>
}